<div class="form">
  <div class="tab-content">
    <div id="signup">   
      <h1>Password Reset</h1>
      <br>
      <form action="/" method="post">
        <div class="field-wrap">
          <label>
            Email Address<span class="req">*</span>
          </label>
          <input type="email" required autocomplete="off"/>
        </div>
        <ul class="tab-group">
          <li class="tab"><a href="#back">BACK</a></li>
          <li class="tab active"><a href="#reset">RESET</a></li>
        </ul>  
      </form>
    </div>
  </div><!-- tab-content -->
</div> <!-- /form -->
